/* Reset some default styles */
.body-signup{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body-signup{
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  header h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1em;
    color: #777;
    margin-bottom: 20px;
  }
  
  .signup-form .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"],
  .signup-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .signup-form input[type="file"] {
    padding: 5px;
  }
  
  .signup-form input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .signup-form .photo-preview {
    display: block;
    margin-top: 10px;
    max-width: 100px;
    border-radius: 50%;
  }
  
  .signup-form .submit-button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-form .submit-button:hover {
    background-color: #218838;
  }
  
  .signup-form .form-group input:focus {
    border-color: #28a745;
  }
  
  .signup-form .form-group label[for="terms"] {
    display: inline;
  }
  nav {
    text-align: center;
    margin-bottom: 20px;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  


.extra-options {
    margin-top: 20px;
  }
  
  .link-option {
    display: block;
    margin: 10px 0;
    color: #7171d3;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .link-option:hover {
    color: #0056b3;
    text-decoration: underline;
  }